# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
*.coverage.*

# Secrets & Environment configuration
.env*
!.env.example

# OS artifacts & Logs
*.log
.DS_Store
